body{
    background-image: url('https://images.pexels.com/photos/1540406/pexels-photo-1540406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow-y: hidden;
    
   
    
    
}
.banner{ 
   
    
    height: 50vh !important;
    
    
  
    
    width: 80%;

}

.banner .content{
   
    display: flex;
    height: 100%;

   
    width: 100%;
}

.text{
    margin: auto;
    color:rgb(252, 217, 212);
    font-family: 'Molle', cursive;
      
    display: flex;
    flex-direction: column;

}

.text h3,h1{
 font-size: 72px;
    margin:  auto; 
    text-shadow: 3px 3px rgb(247, 4, 126);
    
}

.text h3{
color: rgb(243, 194, 153);
   text-shadow: 3px 3px rgb(241, 241, 241);
}


.countDownBanner{
display: flex;
height: 25vh;
justify-content: space-evenly;
align-items: center;
width: 80%;
margin-left:auto;
margin-right: auto;


}

.countDownBanner .countDown{
    color: rgb(255, 231, 250);
    font-size: 52px;
    font-weight: bolder;
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   

}
.countDownBanner h2{
   margin:0px ;

   
}
.countDownBanner .tag{
    font-size: 32px;

    
}

